<footer class="text-center text-white ">
  <div class="container pt-5">

    <!-- Section: Social -->
    <section class="text-center mb-5 ">
      <a href="" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-github"></i>
      </a>
    </section>
  </div>
  <hr>
  <div class="text-center p-2">
    All rights reserved
   
  </div>
</footer>