mat-sidenav-content {
  overflow: hidden;
}

.content-container {
  min-height: 100vh;
  box-sizing: border-box;
}

mat-icon {
  color: var(--text-color);
}

.mat-drawer-inner-container {
  background: var(--sidebar-color);
}

mat-toolbar {
  background: var(--background-color);
  color: var(--primary-color);
}

.example-spacer {
  flex: 1 1 auto;
}
